#album-collection-controls.sixteen.columns.clearfix
  = render partial: 'search_form', locals: {user: user}
  #album-collection-menu
    #{link_to t(:new_album), new_user_album_path(user)} -
    #{link_to t(:edit_albums), '#', remote: true, id: 'edit-albums'}