- if @albums.empty?
  No albums added yet - #{link_to 'Add one now', new_album_path}
- else
  - @albums.each do |album|
    .album.four.columns{id: "album_#{album.id}"}
      = image_tag 'http://placehold.it/420x420'
      = album.long_title
