- if @albums.empty?
  .sixteen.columns
    No albums added yet
    - if current_users_collection?
      \- #{link_to 'Add one now', new_user_album_path(@user)}
- else
  - @albums.each do |album|
    .album.four.columns{id: "album_#{album.id}"}
      = image_tag 'http://placehold.it/420x420'
      = album.long_title
