// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album {
  position: relative;
  margin-bottom: 1em !important;

  img {
    width: 100%;
  }

  .title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
  }

  .artist {
    white-space: nowrap;
    overflow: hidden;
  }

  .controls {
    display: none;

    .edit {
      position: absolute;
      background-color: white;
      padding: 0 0.5em 0 0.5em;
      left: 5px;
      top: 5px;
    }

    .delete {
      position: absolute;
      background-color: white;
      padding: 0 0.5em 0 0.5em;
      right: 5px;
      top: 5px;
    }
    &.visible {
      display: block;
    }
  }
}

.album-collection-controls {
  margin-bottom: 1.5em;

  .album-collection-menu {
    float: right;
    display: inline-block;

    @media only screen and (max-width: 479px) {
      margin-bottom: 0.5em;
    }
  }

  .search_form {
    display: inline-block;

    form {
      margin-bottom: 0;
    }

    label {
      display: inline-block;
    }
    input {
      display: inline-block;
      margin-bottom: 0;
    }
    input[type=text] {
      @media only screen and (max-width: 767px) {
        width: 140px;
        margin-bottom: 1.5em;
      }
      @media only screen and (max-width: 479px) {
        width: 195px;
        margin-bottom: 0.5em;
      }
    }
  }
}
